@if (Chunk.ContainsPayload)
{
    <table>
        <tr>
            <td>
                <h3>@Chunk.Name</h3>
                <p>At @Chunk.FormattedTime with <span class="@(Chunk.Payload.TeacherChanged ? "changed" : "") ">@Chunk.Payload.Teacher</span></p>
            </td>
            <td>
                <h2 class="@(Chunk.Payload.RoomChanged ? "changed" : "") ">@Chunk.Payload.Room</h2>
            </td>
        </tr>
    </table>
}
else
{
    <table>
        <tr>
            <td>
                <h3>@Chunk.Name</h3>
            </td>
            <td>
                <h3>@Chunk.FormattedTime</h3>
            </td>
        </tr>
    </table>
}

@code {
    [Parameter]
    public TimeChunk Chunk { get; set; }
}